<ion-header>
  <ion-toolbar>
    <ion-title>
      Dart App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-radio-group>

      <ion-list-header>
        <ion-label>Game Mode</ion-label>
      </ion-list-header>
      
        <ion-item>
          <ion-label>501</ion-label>
          <ion-radio slot="start" value="501" (click)="setGamemode(501)"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>301</ion-label>
          <ion-radio slot="start" value="301" checked (click)="setGamemode(301)"></ion-radio>
        </ion-item>

    </ion-radio-group>
  
  </ion-card>

 <ion-card>
  <div class="div">
    <h1>Player 1</h1>
    <h1>{{startfive_1}}</h1>
    <h1>Score</h1>
    <ion-input type="number" placeholder="Score" [(ngModel)]="score_1"></ion-input>
  </div>
  
    <div class="div">
      <ion-button color="primary" (click)="calculateScore_1()">Confirm</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <div class="div">
      <h1>Player 2</h1>
      <h1>{{startfive_2}}</h1>
      <h1>Score</h1>
      <ion-input type="number" placeholder="Score" [(ngModel)]="score_2"></ion-input>
    </div>
    
      <div class="div">
        <ion-button  (click)="calculateScore_2()">Confirm</ion-button>
      </div>
    </ion-card>
    <div class="div_1">
      <ion-button (click)="reset()">Reset</ion-button>
    </div>
</ion-content>
